<a href="https://colab.research.google.com/github/oksk1111/algorithm_python/blob/main/ch06_%EC%A0%95%EB%A0%AC_%EC%84%B1%EC%A0%81%EC%9D%B4_%EB%82%AE%EC%9D%80_%EC%88%9C%EC%84%9C%EB%A1%9C_%ED%95%99%EC%83%9D_%EC%B6%9C%EB%A0%A5%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

성적을 오름차순으로 출력

입력예:

2

홍길동 95

이순신 77


출력예:

이순신 홍길동

In [ ]:

n = int(input())

arr = []
for _ in range(n):
  students = input().split()
  arr.append((students[0], int(students[1])))

result = sorted(arr, key=lambda data: data[1])

for student in result:
  print(student[0], end=' ')

2
홍길동 95
이순신 77
이순신 홍길동